img{
  border-image-repeat: stretch;
  max-height: 75%;
  max-width: 75%;
}
.color-reprobado{
  color: indianred;
  background-color: lightgray;
  border-radius: 5%;


}
.color-aprobado{
  color: forestgreen;
  background-color: lightgray;
  border-radius: 5%;

}
.color-cursando{
  color: dodgerblue;
  background-color: lightgray;
  border-radius: 5%;
}
.title{
  text-align: center;
  font-family: "Arial Rounded MT Bold", serif;
  border: 10px;
  background-color: whitesmoke;
  color: darkgray;
  margin: auto;
  width: 30%;
  height: 10%;
}
.nav-item{

}
.flex-column{
  background-color: darkgray;
  width: 40%;
  font-size: xx-large;
}
.div-toolbar{
  position: fixed;
}

