<div class="title col-12">
  <h1><b>Lista de alumnos</b></h1>
</div>
<div class="d-flex">
  <div class="col-3 div-toolbar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="container mt-5 col-9">
    <div class="row g-3">
      <div>
        <ol>
          <li *ngFor="let alumno of listaAlumnos; index as posicion">

            <div class="d-flex">
              <div class="col-4">
                <img src="{{alumno.img}}" class="card-img-top" alt="">
              </div>

              <div>
                <p><b>Nombre:</b> {{alumno.nombre}} <br> <b>Apellido: </b>{{alumno.apellido}} <br>
                  <b>Edad: </b> {{alumno.edad}}
                  <br>
                  <b>Fecha de nacimiento: </b>{{alumno.fechaNacimiento | date : "shortDate"}}</p>

                <p><b>Curso:</b> {{alumno.cursos.nombreCurso}}<br>
                  <b>Inicio del curso:</b> {{alumno.cursos.inicioCurso  | date: "shortDate"}} <br> <b>Fecha de
                    ingreso:</b> {{alumno.cursos.fechaIngreso  | date: "shortDate"}} <br>
                <p *ngIf="alumno.cursos.estadoCurso === 'Aprobado'"><b>Fecha de
                  Egreso:</b> {{alumno.cursos.fechaEgreso  | date: "shortDate"}}<br></p>
                <p><b>Estado del curso: </b>
                  <span *ngIf="alumno.cursos.estadoCurso === 'Reprobado'"
                        class="color-reprobado">{{alumno.cursos.estadoCurso}}</span>
                  <span *ngIf="alumno.cursos.estadoCurso === 'Aprobado'"
                        class="color-aprobado">{{alumno.cursos.estadoCurso}}</span>
                  <span *ngIf="alumno.cursos.estadoCurso === 'Cursando'"
                        class="color-cursando">{{alumno.cursos.estadoCurso}}</span>

                </p>
              </div>
            </div>
            <hr>

          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div>
  <button class="btn btn-primary">Probando bootstrap</button>
</div>
